
/target/test-classes/com/eazybytes/accounts/repository/AccountsRepositoryTest.class
**/target/**
.gitignore
=======

# ignore Maven build output in any module
**/target/

# ignore compiled classes
*.class
# Maven
target/

# IntelliJ
.idea/
*.iml
